*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: 0;
	font-size: 100%;
	font: inherit;
	outline: none;
	vertical-align: baseline;
	background-color: rgb(156, 198, 240);
}
